/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* bt */
.btn, .dropdown-menu {
  background-color: #004AAD;
}
.btn :hover, .dropdown-menu :hover {
  background-color: #004AAD;
}
.btn a, .dropdown-menu a {
  color: #F8FAFA;
  text-decoration: none;
}

/* color del body */
body {
  background-color: #F8FAFA;
}
body a {
  text-decoration: none;
}

/* tipografia de textos */
h1 {
  text-transform: uppercase;
}

h1, h2, h3 {
  font-family: "Radio Canada Big", sans-serif;
}

p, a {
  font-family: "Open Sans", sans-serif;
}

/* estilo mobile */
/* menu de navegacion */
.header-index {
  display: flex;
  align-items: center;
  position: static;
  width: 100%;
  background-color: white;
  justify-content: space-between;
}
.header-index img {
  width: 40%;
  object-fit: cover;
}

/* main de index */
main .main-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main h1 {
  text-align: center;
  margin: 5%;
}
main p {
  text-align: center;
  margin: 5% 3%;
}

/* section de index */
section .ver-mas-index {
  text-align: center;
  margin-bottom: 5%;
}
section .grid-container {
  object-fit: cover;
  display: grid;
  gap: 30px;
  grid-template-rows: repeat(3 1fr);
  grid-template-columns: 1fr;
  align-content: center;
  margin: 5%;
}
section .grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5px solid black;
}
section .grid-img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5px solid black;
}
section .grid-img3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5px solid black;
}

/* footer */
footer {
  border-top: 0.01px solid black;
}
footer img {
  width: 25%;
  object-fit: cover;
  margin: 5% 0% 0% 5%;
}
footer nav {
  text-align: right;
  list-style-type: none;
  margin-right: 5%;
}
footer p {
  text-align: center;
  margin-top: 0%;
}

/* porfolio */
main .h1-porfolio {
  margin-top: 0%;
}
main h2 {
  text-align: center;
  margin: 5%;
}
main .container-porfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 25%);
  gap: 10%;
}
main .container-porfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 0.5px solid black;
}

/* servicios */
main .border-one {
  border: 1px solid black;
  margin: 50px;
}
main .border-two {
  border: 1px solid black;
  margin: 50px;
}
main .border-three {
  border: 1px solid black;
  margin: 50px;
}

section h3 {
  text-align: center;
}
section .grid-servicio1 img {
  width: 100%;
  padding: 2% 10% 1% 10%;
}
section .grid-servicio2 img {
  width: 100%;
  padding: 2% 10% 1% 10%;
}
section .grid-servicio3 img {
  width: 100%;
  padding: 2% 10% 1% 10%;
}
section .grid-servicio4 img {
  width: 100%;
  padding: 2% 10% 1% 10%;
}
section .grid-servicio1 {
  text-align: center;
  margin: 4%;
}
section .grid-servicio2 {
  text-align: center;
  margin: 4%;
}
section .grid-servicio3 {
  text-align: center;
  margin: 4%;
}
section .grid-servicio4 {
  text-align: center;
  margin: 4%;
}

/* sobre mi */
main .h1-sobre-mi {
  text-align: start;
}
main .list-group {
  display: inline-block;
  margin: 5% 0% 5% 0%;
}
main .img-sobre-mi {
  width: 70%;
  margin-left: 15%;
}

section .container-padre {
  gap: 3%;
}
section .container-text {
  display: grid;
  gap: 3%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 7%;
}
section nav .sobre-mi {
  font-size: 150%;
  text-align: center;
  background-color: #004AAD;
  padding: 10%;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
section nav .sobre-mi button {
  background-color: #004AAD;
  color: #F8FAFA;
  border-radius: 5px;
  border: 0.5px solid #F8FAFA;
  padding: 10px 10px;
}
section nav .sobre-mi :hover {
  color: #004AAD;
  background-color: #F8FAFA;
}
section nav .sobre-mi a {
  color: #F8FAFA;
}

/* Contacto */
main {
  margin: 7%;
}
main .bt-contacto {
  padding: 3% 10% 10% 10%;
}

/* estilo de tablet */
@media screen and (min-width: 600px) {
  section .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  section .grid-container .grid-img3 {
    grid-column: span 2;
  }
  section .container-padre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  section .container-text {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  section .container-text .grid-text3 {
    grid-column: span 2;
  }
  main .div-font {
    font-size: 20px;
  }
  main .list-group {
    margin: 5% 0% 5% 40%;
  }
  main .container-porfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 50%;
  }
  main .container-porfolio .recicla3 {
    grid-column: span 2;
  }
  main .container-porfolio .rook3 {
    grid-column: span 2;
  }
  main .container-porfolio .surfers3 {
    grid-column: span 2;
  }
}
/* estilo de desktop */
@media screen and (min-width: 1024px) {
  section .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
  }
  section .grid-container .grid-img3 {
    grid-column: span 1;
  }
  section .container-padre {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  section .container-text {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  section .container-text .grid-text3 {
    grid-column: span 1;
  }
  main .div-font {
    font-size: 30px;
  }
  main .list-group {
    margin: 5% 0% 5% 70%;
  }
  main .container-porfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  main .container-porfolio .surfers3 {
    grid-column: span 1;
  }
  main .container-porfolio .rook3 {
    grid-column: span 1;
  }
  main .container-porfolio .recicla3 {
    grid-column: span 1;
  }
}

/*# sourceMappingURL=style.css.map */
